<!doctype html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Powiadomienia</title>
</head>
<body>
    <h1>Powiadomienia o zagrożeniu</h1>
    <div ng-app="myApp" ng-controller = "myCtrl" class="list">
      <h2> Uwaga! </h2>
            <div  ng-repeat="alert in alerts | orderBy: reverse:true | limitTo: 20">
              <div ng-repeat="cityalert in alert.city">
                <li> Zagrożenie: {{alert.disasterType}} w {{alert.country}} w miejscowość {{cityalert}}. Poziom zagrożenia: {{alert.level}}</li>
              </div>
            </div>
    </div>
    <script src="/myCtrl.js"> </script>



</body>
</html>
