  body {
    background-image: url("/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FCDD06;
    font-family: "Times New Roman";

  }

  .list {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.3);
  }

  h1 {
    font-size: 26px;
    text-align: center;
  }

  h2 {
    font-size: 18px;
  }
  li {
      border-left: 6px groove red;
      font-size: 16px;
      list-style-type: none;
      margin: 10px
  }
